//Global
.side-margin-0{
  margin-left: 0 !important;
  margin-right: 0 !important;

  .form-group{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.images-upload{
  .dropzone{
    padding: 2em;
    border: 1px dashed #ccc;
    text-align: center;
    color: #999;
  }

  &.is-dragover{
    .dropzone{
      background: #eee;
    }
  }
}

.page-header{
  &.navbar{
    .page-logo{
      .logo-default{
        margin: 2px 0 0;
        height: 40px;
      }
    }
  }
}

.note-editor.panel{
  overflow: visible;
}

.table{
  .btn-group{
    .btn{
      margin-right: 0;
    }
  }
}

.form-in-btn-group{
  display: inline-block
};

//Sortable
.sortable-placeholder{
  border: 2px dashed #ccc;
  height: 150px;
}

//Datepicker
.day.disabled-date{
  text-decoration: line-through;
}

//Pages
#products-dataset{
  .product-image{
    width: 40px;
  }
}

#line-items-table{
  .availability{
    div{
      display: none;
    }
  }
}

.permissions-check-all, .permissions-uncheck-all{
  font-size: 12px;
}