/* line 2, sass/app.scss */
*:not(i, .icon) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

/* line 9, sass/app.scss */
.side-margin-0, .note-editor {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 13, sass/app.scss */
.side-margin-0 .form-group, .note-editor .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 20, sass/app.scss */
.images-upload .dropzone {
  padding: 2em;
  border: 1px dashed #ccc;
  text-align: center;
  color: #999;
}
/* line 28, sass/app.scss */
.images-upload.is-dragover .dropzone {
  background: #eee;
}

/* line 37, sass/app.scss */
.page-header.navbar .page-logo .logo-default {
  margin: 2px 0 0;
  height: 40px;
}

/* line 45, sass/app.scss */
.note-editor.panel {
  overflow: visible;
}

/* line 51, sass/app.scss */
.table .btn-group .btn {
  margin-right: 0;
}

/* line 58, sass/app.scss */
.table.table-cell-valign-middle th, .table.table-cell-valign-middle td {
  vertical-align: middle;
}

/* line 64, sass/app.scss */
.floatThead-container table.table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
  margin-top: 0 !important;
}

/* line 72, sass/app.scss */
.dropdown-menu {
  z-index: 1002;
}

/* line 76, sass/app.scss */
.form-in-btn-group {
  display: inline-block;
}

/* line 81, sass/app.scss */
.sortable-placeholder {
  border: 2px dashed #ccc;
  height: 150px;
}

/* line 89, sass/app.scss */
.datepicker.loading:after {
  content: 'Loading calendar...';
  position: absolute;
  width: 100%;
  height: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 103, sass/app.scss */
.datepicker .day.disabled-date {
  text-decoration: line-through;
  color: #ccc !important;
}

/* line 111, sass/app.scss */
#products-dataset .product-image {
  width: 40px;
}

/* line 118, sass/app.scss */
#line-items-table .availability div {
  display: none;
}

/* line 124, sass/app.scss */
.permissions-check-all, .permissions-uncheck-all {
  font-size: 12px;
}

/* line 128, sass/app.scss */
.expanded-detail {
  font-size: 12px !important;
  line-height: 1.25em;
}
/* line 129, sass/app.scss */
.expanded-detail .product-image {
  width: 60px !important;
}
/* line 136, sass/app.scss */
.expanded-detail th, .expanded-detail td, .expanded-detail div, .expanded-detail p {
  font-size: 12px !important;
  line-height: 1.25em;
}

/* line 144, sass/app.scss */
.child-line-item-header td:first-child, .child-line-item td:first-child {
  padding-left: 2em;
}
/* line 148, sass/app.scss */
.child-line-item-header .product-image, .child-line-item .product-image {
  width: 50px !important;
}
